registry=https://pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/registry/ 
;cjrah6m5ugwqgo3vk3iwwhzogxxjboyyoxucyuc3ahqc7wuyxibq
; begin auth token
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/registry/:_password=cG9seXZ5YTdoemlkN3Vpd3JjandmbWplYmJ4aTNxZHFwZW5sZWx0aXNobDc3amRyd2hxYQ==
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/:username=prgs-next
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/prgs-next/next/_packaging/ax-front-dev/npm/:email=npm requires email to be set but doesn't use the value
; end auth token